<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzy.dao.Tb_loanMapper">
  <resultMap id="BaseResultMap" type="com.hxzy.pojo.Tb_loan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lno" jdbcType="VARCHAR" property="lno" />
    <result column="goodsid" jdbcType="INTEGER" property="goodsid" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="principal" jdbcType="VARCHAR" property="principal" />
    <result column="borrowperson" jdbcType="VARCHAR" property="borrowperson" />
    <result column="btel" jdbcType="VARCHAR" property="btel" />
    <result column="bunit" jdbcType="VARCHAR" property="bunit" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="taster" jdbcType="VARCHAR" property="taster" />
    <result column="approvetime" jdbcType="TIMESTAMP" property="approvetime" />
    <result column="backperson" jdbcType="VARCHAR" property="backperson" />
    <result column="backtime" jdbcType="TIMESTAMP" property="backtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lno, goodsid, number, username, principal, borrowperson, btel, bunit, createtime, 
    state, taster, approvetime, backperson, backtime
  </sql>
  <select id="selectByExample" parameterType="com.hxzy.pojo.Tb_loanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_loan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_loan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hxzy.pojo.Tb_loanExample">
    delete from tb_loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxzy.pojo.Tb_loan">
    insert into tb_loan (id, lno, goodsid, 
      number, username, principal, 
      borrowperson, btel, bunit, 
      createtime, state, taster, 
      approvetime, backperson, backtime
      )
    values (#{id,jdbcType=INTEGER}, #{lno,jdbcType=VARCHAR}, #{goodsid,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{principal,jdbcType=VARCHAR}, 
      #{borrowperson,jdbcType=VARCHAR}, #{btel,jdbcType=VARCHAR}, #{bunit,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{state,jdbcType=SMALLINT}, #{taster,jdbcType=VARCHAR}, 
      #{approvetime,jdbcType=TIMESTAMP}, #{backperson,jdbcType=VARCHAR}, #{backtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hxzy.pojo.Tb_loan">
    insert into tb_loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lno != null">
        lno,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="principal != null">
        principal,
      </if>
      <if test="borrowperson != null">
        borrowperson,
      </if>
      <if test="btel != null">
        btel,
      </if>
      <if test="bunit != null">
        bunit,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="taster != null">
        taster,
      </if>
      <if test="approvetime != null">
        approvetime,
      </if>
      <if test="backperson != null">
        backperson,
      </if>
      <if test="backtime != null">
        backtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lno != null">
        #{lno,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="borrowperson != null">
        #{borrowperson,jdbcType=VARCHAR},
      </if>
      <if test="btel != null">
        #{btel,jdbcType=VARCHAR},
      </if>
      <if test="bunit != null">
        #{bunit,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="taster != null">
        #{taster,jdbcType=VARCHAR},
      </if>
      <if test="approvetime != null">
        #{approvetime,jdbcType=TIMESTAMP},
      </if>
      <if test="backperson != null">
        #{backperson,jdbcType=VARCHAR},
      </if>
      <if test="backtime != null">
        #{backtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxzy.pojo.Tb_loanExample" resultType="java.lang.Long">
    select count(*) from tb_loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_loan
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lno != null">
        lno = #{record.lno,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsid != null">
        goodsid = #{record.goodsid,jdbcType=INTEGER},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.principal != null">
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowperson != null">
        borrowperson = #{record.borrowperson,jdbcType=VARCHAR},
      </if>
      <if test="record.btel != null">
        btel = #{record.btel,jdbcType=VARCHAR},
      </if>
      <if test="record.bunit != null">
        bunit = #{record.bunit,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.taster != null">
        taster = #{record.taster,jdbcType=VARCHAR},
      </if>
      <if test="record.approvetime != null">
        approvetime = #{record.approvetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.backperson != null">
        backperson = #{record.backperson,jdbcType=VARCHAR},
      </if>
      <if test="record.backtime != null">
        backtime = #{record.backtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_loan
    set id = #{record.id,jdbcType=INTEGER},
      lno = #{record.lno,jdbcType=VARCHAR},
      goodsid = #{record.goodsid,jdbcType=INTEGER},
      number = #{record.number,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      principal = #{record.principal,jdbcType=VARCHAR},
      borrowperson = #{record.borrowperson,jdbcType=VARCHAR},
      btel = #{record.btel,jdbcType=VARCHAR},
      bunit = #{record.bunit,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=SMALLINT},
      taster = #{record.taster,jdbcType=VARCHAR},
      approvetime = #{record.approvetime,jdbcType=TIMESTAMP},
      backperson = #{record.backperson,jdbcType=VARCHAR},
      backtime = #{record.backtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxzy.pojo.Tb_loan">
    update tb_loan
    <set>
      <if test="lno != null">
        lno = #{lno,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="borrowperson != null">
        borrowperson = #{borrowperson,jdbcType=VARCHAR},
      </if>
      <if test="btel != null">
        btel = #{btel,jdbcType=VARCHAR},
      </if>
      <if test="bunit != null">
        bunit = #{bunit,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="taster != null">
        taster = #{taster,jdbcType=VARCHAR},
      </if>
      <if test="approvetime != null">
        approvetime = #{approvetime,jdbcType=TIMESTAMP},
      </if>
      <if test="backperson != null">
        backperson = #{backperson,jdbcType=VARCHAR},
      </if>
      <if test="backtime != null">
        backtime = #{backtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxzy.pojo.Tb_loan">
    update tb_loan
    set lno = #{lno,jdbcType=VARCHAR},
      goodsid = #{goodsid,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      principal = #{principal,jdbcType=VARCHAR},
      borrowperson = #{borrowperson,jdbcType=VARCHAR},
      btel = #{btel,jdbcType=VARCHAR},
      bunit = #{bunit,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=SMALLINT},
      taster = #{taster,jdbcType=VARCHAR},
      approvetime = #{approvetime,jdbcType=TIMESTAMP},
      backperson = #{backperson,jdbcType=VARCHAR},
      backtime = #{backtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>